// card design
.card_default {
  background: var(--color-trans-one);
  border-radius: 4px;
  box-shadow: 0 4px 30px var(--color-trans-two);
  // backdrop-filter: blur(18px);
  border: 1px solid var(--color-trans-three);
}

.card_img {
  padding-top: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
  }
}

@media (max-width: 567px) {
  .card_img {
    height: 110px;
    img {
      width: 150px;
    }
  }
}

.card_description {
  display: flex;
  flex-direction: column;
  padding: 0.9rem;
  color: var(--color-dark);
  .card_title {
    font-size: var(--font-size-normal);
  }

  .card_list {
    display: flex;
    flex-direction: column;
  }
}

// section design
.section_default {
  padding: 3rem 0;
}

.section_title {
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  font-family: var(--font-secondary);
  font-size: var(--font-size-big);

  > p {
    margin: 0;
    font-family: var(--font-primary);
    font-size: var(--font-size-normal);
  }
}

.status_btn {
  padding: 0.1rem 0.4rem;
  border: 1px solid var(--color-dark);
  border-radius: 3px;
  font-size: var(--font-size-smaller);

  &:hover {
    text-decoration: underline;
  }
}

.bt9_checkout {
  padding: 0.5rem 0.9rem;
  background-color: var(--color-accent);
  color: var(--color-light);
  font-weight: 500;
  display: block;
  border: none;
  transition: all 0.4s linear;
  width: 99%;
  margin: auto;
  letter-spacing: 0.9px;
  appearance: button;

  &:hover {
    background-color: var(--color-accent-alt);
  }

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}

.dynamic_bt9 {
  cursor: pointer;
  display: block;
  padding: 0.2rem;
  margin-left: 0.5rem;
}

.bt9_edit {
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--color-accent);
  border-radius: 3px;
  background-color: var(--color-accent);
  color: var(--color-light);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.4s linear;
  appearance: button;
  margin: 1px;

  &:hover {
    background-color: var(--color-accent-alt);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-mute);
    border: 1px solid var(--color-mute);
  }
}

.bt9_delete {
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--color-danger);
  border-radius: 3px;
  background-color: var(--color-danger);
  color: var(--color-light);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.4s linear;
  appearance: button;
  margin: 1px;

  &:hover {
    background-color: var(--color-danger-alt);
  }
}

.bt9_trans {
  padding: 0.2rem 0;
  border: unset;
  background-color: var(--color-trans-one);
  color: var(--color-dark);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.4s linear;
  appearance: button;
  margin: 1px;
}

.bt9_warning {
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--color-warning);
  border-radius: 3px;
  background-color: var(--color-warning);
  color: var(--color-dark);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.4s linear;
  appearance: button;
  margin: 1px;

  &:hover {
    background-color: var(--color-warning-alt);
  }
}

.bt9_create {
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  background-color: var(--color-primary);
  color: var(--color-light);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.4s linear;
  appearance: button;
  margin: 1px;

  &:hover {
    background-color: var(--color-primary-alt);
  }
}

.bt9_primary {
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  background-color: var(--color-primary);
  color: var(--color-light);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.4s linear;
  appearance: button;
  margin: 1px;

  &:hover {
    background-color: var(--color-primary-alt);
  }
}

.bt9_cancel {
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--color-mute);
  border-radius: 3px;
  background-color: var(--color-mute);
  color: var(--color-light);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.4s linear;
  cursor: pointer;
  appearance: button;
  margin: 1px;

  &:hover {
    background-color: var(--color-mute-alt);
  }
}

.bt9_withdraw {
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--color-orange);
  border-radius: 3px;
  background-color: var(--color-orange);
  color: var(--color-light);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.4s linear;
  appearance: button;
  cursor: pointer;

  &:hover {
    background-color: var(--color-orange-alt);
  }
}

.bt9_big {
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
}

// form design
.input_group {
  text-align: start;
  margin: 1rem 0;
}

.form-control {
  background-color: var(--color-light);
  color: var(--color-text);
  border-radius: 2px;
  font-size: 0.9rem;
  .form-control-sm {
    padding: 0.4rem 0.5rem;
  }

  &:focus {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

.form-select {
  background-color: var(--color-light);
  color: var(--color-dark-alt);
  text-transform: capitalize;
  border-radius: 2px;
  font-size: 0.9rem;
  .form-select-sm {
    padding: 0.2rem 0.5rem;
  }

  &:focus {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

label {
  font-size: 0.816rem;
  margin-bottom: 0.5rem;
}

.dropdown-menu {
  font-size: 14px;
  min-width: 12rem;
  background-color: var(--color-bg);
  box-shadow: 0 0 10px var(--color-accent);
}

.dropdown-item {
  color: var(--color-text);
}

.dropdown-menu.show {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

// .dropdown-menu[data-bs-popper] {
//   top: 100%;
//   left: 0;
//   margin-top: 0.125rem;
//   transform: translate(0%, 0%);
// }

.modal-content {
  background-color: var(--color-bg);
}

// .search_result {
//   width: 50%;
//   margin: auto;
// }

// @media (max-width: 567px) {
//   .search_result {
//     width: 95%;
//   }
// }

.confirm_box {
  padding: 2rem 0.8rem;
  background-color: whitesmoke;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999999;
  border-radius: 10px;
  width: 80%;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px 0 black;

  .confirm_box_btn {
    padding: 0.8rem 0;
    margin-top: 1rem;
    button {
      margin: 0 0.5rem;
    }
  }

  &.active {
    display: flex;
  }
}

.action_menu {
  padding: 0.3rem;
  background-color: #f3f3f3;
  position: absolute;
  right: 10px;
  top: 50px;
  min-width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #00000026;
  z-index: 999;

  ul {
    li {
      margin: 0.5rem 0;
    }
  }
}

.status_btn_alt {
  padding: 0.2rem;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  margin: 0.3rem;
  font-size: 0.8rem;
  border-radius: 3px;

  &:hover {
    color: gray;
    border-color: gray;
  }
}

.headers {
  .hBtn {
    border: 1px solid var(--color-accent-alt);
    padding: 0.2rem;
    margin: 0.3rem 0.4rem;
    color: var(--color-text);
    font-size: 0.8rem;

    &.active {
      background-color: var(--color-accent);
    }
  }
}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 10px 16px 10px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  margin: 1rem 0;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 8% 50%;

  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}

.bt9_auth {
  color: var(--color-light);
  font-size: var(--font-size-normal);
  padding: 6px 35px;
  border-radius: 3px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0 0 8px 0 var(--color-accent-alt);
  background-image: linear-gradient(
    135deg,
    var(--color-accent-alt) 10%,
    var(--color-accent) 100%
  );
  transition: all 0.4s linear;

  &:hover {
    background-image: linear-gradient(
      -135deg,
      var(--color-accent) 10%,
      var(--color-accent-alt) 100%
    );
  }

  &:disabled {
    background-image: unset;
    box-shadow: unset;
    user-select: none;
    cursor: not-allowed;
    background-color: var(--color-mute);
  }
}

.brand_logo {
  font-weight: bolder;
}

.textMute {
  font-weight: 400;
  color: #878787;
}

.content_wrapper {
  background-color: var(--color-card);
  padding: 0.8rem;
  border: 1px solid #e7e7e7;
  border-top: 8px solid var(--color-accent);
  min-height: 80vh;
}

// modals
.modal_c {
  width: 100%;
  height: 95vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: #000000c4;
  z-index: 999999;
  transition: all 0.6s linear;
}

.modal_body {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  overflow: auto;
  background-color: azure;
  padding: 0.7rem;
  border-radius: 10px;
}

@media (max-width: 567px) {
  .modal_body {
    width: 100%;
    left: 50%;
  }
}

.modal_body .modal_close {
  align-self: flex-end;
  border: none;
  border-radius: 4px;
  width: 30px;
  height: 28px;
  transition: all 0.4s linear;
}

.modal_body .modal_close:hover {
  background-color: var(--color-dark-alt);
  color: var(--color-light);
}

.badge_success {
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
  display: inline-block;
  background-color: var(--color-green);
  letter-spacing: 1px;
  color: var(--color-light);
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.badge_failed {
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
  display: inline-block;
  background-color: var(--color-danger);
  letter-spacing: 1px;
  color: var(--color-light);
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

// .dollar_Symbol {
//   padding: 0 2px;
//   display: inline-block;
//   font-size: 1.1rem;
//   text-decoration-style: dotted;
//   vertical-align: text-top;
// }

.category_main {
  border: 1px solid #cacaca85;
  width: max-content;
  height: 60vh;
  background-color: var(--color-nav-down);
}

.ctg {
  position: relative;
  width: max-content;

  a {
    color: black;
    font-size: 0.9rem;

    &:hover {
      color: red;
    }
  }

  > li {
    padding: 5px;
  }

  .sub_ctg {
    position: absolute;
    left: 100%;
    top: 0;
    background: #d1d1d1;
    color: black;
    padding: 1rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: max-content;

    > li {
      margin: 4px 0;
      padding: 2px 10px;
      background: aquamarine;

      > a {
        margin: 5px 0;
        display: inline-block;
      }
    }

    .post_ctg_ul {
      li {
        background: darkkhaki;
        padding: 2px 10px;
      }
    }
  }
}

.listToggler {
  cursor: pointer;
  padding: 4px;
  margin-left: 3px;

  &:hover {
    border: 1px solid black;
  }
}

.target_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2rem;

  > span {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-mute);
    text-align: center;
    line-height: 25px;
    color: var(--color-light);
    position: relative;
    margin: 0 20px 0 20px;

    &::before {
      content: "";
      width: 40px;
      height: 4px;
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      background-color: var(--color-mute);
      transform: translate(-100%, -90%);
    }

    &:first-child::before {
      // content: unset;
      display: none;
    }

    &.active::before {
      background-color: var(--color-accent);
    }

    &.active {
      background-color: var(--color-accent);
    }
  }
}

.my_order_items {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 9px 2px #00000026;
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  table {
    tbody {
      vertical-align: middle !important;
      border: unset !important;

      tr {
        border: unset !important;
      }

      td {
        padding: 4px 0;
        word-break: break-word;
      }
    }
  }

  .ssg {
    // border-bottom: 1px solid #5f5f5f1c;
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4px;
    cursor: pointer;

    > div {
      // width: 100%;
      flex: 0 0 auto;

      // &:last-child {
      //   text-align: end;
      // }
    }
  }
}

.manage_order_button {
  border: 1px solid steelblue;
  background-color: unset;
  text-transform: uppercase;
  padding: 3px;
  font-size: 0.7rem;
  font-weight: bold;
  color: steelblue;
  cursor: pointer;
  transition: all 0.4s linear;

  &:hover {
    // border: 1px solid steelblue;
    background-color: steelblue;
    color: white;
  }
}

.billing-details-content {
  padding: 0 30px 30px 30px;
  border-radius: 20px 0px 20px 20px;

  .shipping_address {
    color: #0e8e92;
  }
}

.bil-title {
  font-weight: 600;
  font-size: 1rem;
  color: #0e8e92;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.billing-details-content table {
  width: 100%;
  color: #0e8e92;
  border-collapse: collapse;

  tr td {
    padding: 2px;
    letter-spacing: 1px;

    i {
      width: 18px;
      vertical-align: middle;
    }

    &.right-t {
      text-align: right;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}

.br-top td {
  border-top: 1px solid #01ac8f;
  padding: 5px 0px 0px;
  &.right-t {
    font-size: 16px;
  }
}

.currency_sign {
  position: relative;
  &::before {
    content: "\09F3";
    display: inline-block;
    margin-right: 2px;
    font-weight: bold;
  }
}

.sellerInfoMenu {
  background: white;
  position: absolute;
  left: 0;
  top: 30px;
  padding: 10px;
  z-index: 999;
  border-radius: 4px;
  font-size: 0.8rem;
  box-shadow: 0 0 10px 0 #00000045;
}

.links {
  color: #55a105;
}

.alerts {
  padding: 0.5rem 0.8rem;
  text-align: center;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 400;
  display: block;
  background-color: transparent;
}

.alerts_danger {
  color: red !important;
  border: 1px solid red;
}

.alerts_success {
  color: rgb(72, 255, 0) !important;
  border: 1px solid rgb(72, 255, 0);
}

.dwhYrQ {
  color: rgb(51, 51, 51);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  margin: 0px;
  padding: 0px 0px 16px;
}

.list {
  padding: 0.2rem 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  font-size: 0.8rem;

  > span {
    color: var(--color-mute);
    margin-right: 0.6rem;
    font-weight: 500;
    width: 50%;
    display: block;

    &:nth-child(2) {
      color: var(--color-text);
    }
  }
}
.rv_div {
  position: relative;
}

.review_form {
  border: 1px solid black;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 2;
}

#images {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.imagesLabel {
  display: block;
  width: 55px;
  height: 55px;
  background: #eee
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIxOSI+PHBhdGggZmlsbD0iIzg3ODc4NyIgZD0iTTIuNzQgMi43MTRWMGgxLjgyNXYyLjcxNGgyLjc0djEuODFoLTIuNzR2Mi43MTRIMi43NFY0LjUyNEgwdi0xLjgxaDIuNzR6bTIuNzM4IDUuNDI5VjUuNDI5aDIuNzRWMi43MTRoNi4zOWwxLjY3MiAxLjgxaDIuODk0YzEuMDA0IDAgMS44MjYuODE0IDEuODI2IDEuODFWMTcuMTljMCAuOTk2LS44MjIgMS44MS0xLjgyNiAxLjgxSDQuNTY1YTEuODIzIDEuODIzIDAgMDEtMS44MjYtMS44MVY4LjE0M2gyLjc0em02LjM5MiA4LjE0M2MyLjUyIDAgNC41NjUtMi4wMjcgNC41NjUtNC41MjRTMTQuMzkgNy4yMzggMTEuODcgNy4yMzhjLTIuNTIgMC00LjU2NiAyLjAyNy00LjU2NiA0LjUyNHMyLjA0NiA0LjUyNCA0LjU2NiA0LjUyNHptLTIuOTIyLTQuNTI0YzAgMS42MDEgMS4zMDUgMi44OTUgMi45MjIgMi44OTUgMS42MTYgMCAyLjkyMS0xLjI5NCAyLjkyMS0yLjg5NSAwLTEuNjAyLTEuMzA1LTIuODk1LTIuOTIxLTIuODk1LTEuNjE3IDAtMi45MjIgMS4yOTMtMi45MjIgMi44OTV6Ii8+PC9zdmc+)
    no-repeat;
  background-position: 50%;
  background-size: 20px;
  cursor: pointer;
}

.textarea_group {
  border: 1px solid gray;
  padding: 10px 15px;
}

.preview_images {
  padding: 5px;

  .image_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    .images {
      border: 1px solid rgb(151, 151, 151);
      padding: 2px;
      margin: 2px;
    }
  }
}

.text_primary {
  color: var(--color-primary);
}
