.category_header {
  width: 100%;
}

.nv_btn {
  display: none;
}

.c_nav {
  border-bottom: 1px solid gray;
  width: 100%;
  z-index: 999;
  background-color: var(--color-nav-down);
}

.c_nav_btn {
  padding: 0.5rem 0.6rem;
  cursor: pointer;
}

.c_nav_btn .a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-dark);
  text-transform: capitalize;
  font-size: 1rem;
  img {
    width: 55px;
    height: 55px;
  }
}

.c_nav_btn:hover {
  box-shadow: 0 0 6px 0 #00000080;
}

.cc_tty {
  margin: auto;
  text-align: left;
  position: absolute;
  background-color: var(--color-bg);
  top: initial;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  box-shadow: 0px 12px 7px 0px #0000002e;
  width: 95%;
  padding: 0 2rem;
  border-top: 1px solid var(--color-dark);
}

.c_sub_menu_wrapper {
  padding: 1rem 0;
}

.gg_tr {
  margin-bottom: 1rem;
}

.ai_tj {
  margin: 0;
  > a {
    font-size: 0.9rem;
    color: var(--color-accent);
    text-transform: uppercase;
  }
}

.ffg_th {
  > p {
    margin: 0;
    > a {
      color: var(--color-dark);
      font-size: 0.9rem;
      text-transform: capitalize;
    }
  }
}

.category_navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0;
  flex-wrap: wrap;
}

@media (max-width: 567px) {
  .c_nav {
    border-bottom: 1px solid gray;
    width: 100%;
    background-color: var(--color-bg);
    margin-bottom: 0.6rem;
    transition: all 0.4s linear;
  }

  .c_nav_btn .a { 
    font-size: 0.8rem;

    >img {
      display: none;
    }
  }
}
