.bars {
  background: transparent;
  font-size: 1rem;
  border: none;
  display: block;
  padding: 0.5rem 1rem;
}

.bars_alt {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.db_link {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1.3rem;
  width: 100%;
}

.d_right {
  margin-left: 220px;
  overflow-y: auto;
}

// Dashboard scss
.db_container {
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  position: relative;

  &.isShrink {
    .db_left_bar {
      left: -100%;
    }

    .db_right_bar {
      width: 100%;
      padding: 0 1rem;
      margin-left: unset;
      position: relative;

      .db_right_nav {
        width: 100%;
      }
    }
  }
}

.db_left_bar {
  width: 260px;
  transition: all 0.2s linear;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: #3d464d;

  .db_left_items {
    display: flex;
    flex-direction: column;
  }

  a {
    font-weight: 500;
    font-size: 0.9rem;
    width: 100%;
    padding: 0.1rem 1rem;
    padding-left: 2.1rem;
    width: 100%;
    color: var(--color-light);
    display: block;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;

    &.active_link {
      color: var(--color-light-alt);
      font-style: italic;
      svg {
        color: var(--color-light-alt);
      }
    }
  }

  svg {
    color: var(--color-light);
  }
}

.db_right_bar {
  width: 100%;
  padding: 0 1rem;
  margin-left: 260px;
  position: relative;
  transition: all 0.2s linear;

  .db_right_nav {
    transition: all 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--color-bg);
    box-shadow: 0px 4px 3px 0px #00000033;
    position: fixed;
    top: 0;
    right: 0;
    margin-left: auto;
    padding: 0.6rem 1.5rem;
    width: calc(100% - 260px);
    z-index: 999999;
  }

  .db_right_content_wrapper {
    padding: 1.5rem 0.8rem;
  }
}

.pp_iyg {
  padding: 0.7rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

  .brand_logo {
    color: var(--color-light);
    font-size: 1.2rem;
  }

  span {
    color: white;
    display: inline-block;
    padding: 0.2rem;
    background-color: var(--color-primary);
    border-radius: 3px;
    font-size: 0.7rem;
    line-height: 100%;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.db_left_ul {
  width: 100%;
}

.link_group {
  width: 100%;
  padding-left: 1.3rem;
  margin: 0 0 0.5rem 0;

  > a {
   width: 100%;
   padding: unset;
  }

  button {
    border: none;
    background: transparent;
    width: 100%;
    text-align: justify;

    span {
      color: var(--color-light);
    }
  }
}
.db_dropdown_profile {
  background-color: #f4f4f4;
  position: relative;

  > button {
    border: none;
    background-color: transparent;
  }

  .db_dropdown_profile_body {
    min-width: 10rem;
    position: absolute;
    top: 30px;
    right: 1.5rem;
    background-color: var(--color-light);
    border-radius: 4px;
    padding: 0.6rem 0.8rem;
    width: 100%;
    box-shadow: 2px 2px 2px 2px #7e7e7e73;

    li {
      margin: 0.4rem 0;
    }

    .logout_btn {
      border: none;
      background-color: transparent;
      color: var(--color-danger);
    }
  }
}

.notification {
   background-color: var(--color-mute);
   padding: 0.2rem;
   border-radius: 4px;
   margin-right: 0.9rem;
   a {
      color: var(--color-light);
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 0.9rem;
   }
}

@media (max-width: 567px) {
  .db_container {
    &.isShrink {
      .db_left_bar {
        width: 0;
      }

      .db_right_bar {
        margin-left: unset;
      }
    }

    .db_right_bar {
      margin-left: unset;

      .db_right_nav {
        width: 100%;
      }
    }
  }
}
