.product_wrapper {
  justify-content: center;
}

.product_card {
  margin: 1%;
  border-radius: 2px;
  background: #f5f5f5;
  // box-shadow: 0 4px 30px var(--color-trans-two);
  backdrop-filter: blur(10px);
  width: 200px;
  min-height: 190px;
  padding: 0;
  border: 1px solid #dfdfdfcf;

  &:hover {
    box-shadow: 0 0 6px #00000086;
  }

  > a {
    height: 100%;
    width: 100%;
  }
}

.product_card_img {
  width: 100%;
  height: 190px;
  box-sizing: border-box;
  line-height: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }
}

.product_card_description {
  display: flex;
  flex-direction: column;
  color: var(--color-dark);
  padding: 0 0.7rem;

  .product_meta {

    .rating_model {

    }
    
  }
}

.product_title {
  position: relative;
  display: flex;
  flex-direction: column;
  white-space: normal;
  padding: 0.6rem 0 0.3rem 0;

  span {
    color: var(--color-mute);
    text-transform: uppercase;
    font-size: 17px;
  }

  h1 {
    font-size: 16px;
    line-height: 1.1;
    padding: 0.1rem 0;
  }

  small {
    color: var(--color-danger);
  }
}

.price_model {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.4rem 0;
  padding: 0.1rem 0 0.3rem 0;

  big {
    color: var(--color-green);
    padding-right: 0.3rem;
    font-weight: 500;
    font-size: 1.6rem;
  }

  p {
    color: var(--color-green);
    font-size: 12px;
    > strike {
      color: var(--color-mute);
      margin-right: 0.5rem;
    }
  }
}

@media (max-width: 567px) {
  .product_wrapper {
    justify-content: center;
  }
  .product_card {
    width: 46%;
    min-height: 100px;
  }

  .product_card_img {
    height: auto;
  }

  .product_title {
    span {
      font-size: 13px;
    }

    h1 {
      color: var(--color-dark);
      font-size: 13px;
    }
  }
}

@media (min-width: 568px) and (max-width: 768px) {
   .product_card {
      width: 31%;
   }
}
