:root {
  // color code combination vars
  --color-bg: #ffffff;
  --color-primary: #c45ab3;
  --color-primary-alt: #631a86;
  --color-secondary: #838383;
  --color-secondary-alt: #2c2c2c;
  --color-accent: #1abc9c;
  --color-accent-alt: #049477;
  --color-light: #fdfbfb;
  --color-light-alt: #e0e0e0;
  --color-dark: #0f0f0f;
  --color-dark-alt: #1f1f1f;
  --color-orange: #ff751a;
  --color-orange-alt: #c75407;
  --color-antiquewhite: antiquewhite;
  --color-card: #ffffff;
  --color-text-primary: #111111;

  --color-green: #26a541;

  --color-nav: #0084ff;
  --color-nav-down: #f8f8f8;

  --color-mute: #878787;
  --color-mute-alt: #6e6e6e;
  --color-link: #ff7019;
  --color-link-alt: #e75900;

  --color-blued: #2874f0;

  --color-danger: red;
  --color-danger-alt: #d30000;

  --color-warning: #ffe600d7;
  --color-warning-alt: #bba800d7;

  // color transparent
  --color-trans-one: #ffffff91;
  --color-trans-two: #0000001a;
  --color-trans-three: #b3b3b363;
  --color-text: #000000;
  --color-active: whitesmoke;

  --color-nav-link: #ffffff;
  --color-nav-link-hover: #f1f1f1;
}
