:root {
  // fonts family variation
  --font-primary2: "Spline Sans Mono", monospace;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Fredoka One", cursive;
  --font-app: "Roboto", sans-serif;
}
