:root {
  // font size variation
  --font-size-normal: 0.975rem;
  --font-size-small: 0.875rem;
  --font-size-smaller: 0.775rem;
  --font-size-big: 1.875rem;
  --font-size-bigger: 2.775rem;

  // utils
  // padding variables
  --py-1: 0.9rem 0;
  --py-2: 1.2rem 0;
  --py-3: 1.9rem 0;
  --py-4: 2.1rem 0;
  --py-5: 2.9rem 0;
  --px-1: 0.9rem 0;
  --px-2: 1.2rem 0;
  --px-3: 1.9rem 0;
  --px-4: 2.1rem 0;
  --px-5: 2.9rem 0;
  --p-1: 0.9rem;
  --p-2: 1.2rem;
  --p-3: 1.9rem;
  --p-4: 2.1rem;

  // margin variables
  --my-1: 0.9rem 0;
  --my-2: 1.2rem 0;
  --my-3: 1.9rem 0;
  --my-4: 2.1rem 0;
  --my-5: 2.9rem 0;
  --mx-1: 0.9rem 0;
  --mx-2: 1.2rem 0;
  --mx-3: 1.9rem 0;
  --mx-4: 2.1rem 0;
  --mx-5: 2.9rem 0;
  --m-1: 0.9rem;
  --m-2: 1.2rem;
  --m-3: 1.9rem;
  --m-4: 2.1rem;
}